@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Roboto, Verdana;
    /* font-weight: bolder; */
}

button{
    cursor: pointer;
}


body#login-body{
    width: 100%;
    position: absolute;
    height: 100%;
    display: grid;
    place-content: center;
    background: rgba(237, 237, 237, 0.921);
}

.login-container{
    background: white;
    padding: 1em;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.login-container .login-header{
    text-align: center;
    color: #017AFE;
    font-size: 1.4em;
}

.login-container img, header img{
    width: 70px;
    height: 70px;
    opacity: 1;
}

.login-container > div {
    padding: 1em;
    width: 100%;
}
.login-container .input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 100%;
}

.login-container .input-container input{
    padding: 1em;
    border-radius: 10px;
    width: 55dvh;
    outline: 2px solid rgba(0, 0, 0, 0.336);
    border: none;
    margin-top: 0.5em;
}
.login-container .input-container > div{
    display: flex;
    align-items: center;
    position: relative;
}
.login-container .input-container > div i{
    position: absolute;
    color: #017AFE;
    right: 1em;
    cursor: pointer;

}

.login-container input:focus{
    outline: 2px solid #017AFE;
}

.login-container #remember-check{
    padding: 1em;
    margin-bottom: 0.3em;
    display: flex;
    align-items: center;
    gap: 1em;
}
.login-container #remember{
    padding: 11em !important;
}

.login-container button{
    padding: 0.8em;
    border-radius: 30px;
    border: none;
    background: #017AFE;
    color: white;
    transition: .3s ease;


}

.login-container button:hover{
    outline: 1px solid #017AFE;
    background: none;
    color: #017AFE;
}


/* EDITING DASHBOARD */

header{
    width: 100%;
    position: sticky;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: #022c58;
    color: white;
}

header  div{
    display: flex;
}

header div:nth-child(2) div{
    border: 2px solid white;
    padding: 0.4em;
    background: white;
    color: #017AFE;
    border-radius: 20px;
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.338);
    align-items: center;
}

header div:nth-child(2) div input{
    background: none;
    width: 100%;
    padding: 0.4em 1em;
    outline: none;
    border: none;
}

header div button{
    padding: 0.4em 1em;
    margin-right: 1em;
    background: white;
    color: #017AFE;
    border: none;
    font-weight: bolder;
    border-radius: 20px;
}

header .user-profile{
    /* flex-direction: column !important; */
    gap: 0.3em;
    cursor: pointer;
}

.filters{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    position: relative;
    margin:2em 0;
}
.filters select{
    /* position: absolute; */
    right: 50%;
    padding: 0.4em 10em;
    border: 2px solid grey;
    cursor: pointer;
    border-radius: 10px;
}
.filters button, .table button{
    padding:0.4em 2em;
    background: none;
    color: white;
    border-radius: 7px;
    border: none;
}

.filters > div:nth-child(1) button:nth-child(1){
    background: white;border: 2px solid #017AFE;
    color: #017AFE;
}
.filters > div > button:nth-child(1) , .table button:nth-child(2){
    background: #017AFE;
}
.filters > div >  button:nth-child(2), .table button:nth-child(1){
    background: green;
}

.table {
    display: grid;
    place-items: center;
    /* place-content: center; */
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    box-shadow: 0px 0px 10px rgb(0,0,0.4);
}

.table table{
    width: 90%;
    border-collapse: collapse;
    font-size: 0.9em;
    text-align: right !important;
    color: rgb(33, 32, 32);
    border-radius: 20px;
}
th{
    font-weight: 900;
    font-size: 1em;
}
.table table, td{
    text-align: right !important;
    padding: 0.8em;
}

.table table tr{
    text-align: right !important;
        margin-bottom: 1em !important;
        
}

.table table tr:nth-child(even){
    background: rgba(166, 166, 166, 0.469);
        border-radius: 10px;
}

.table button:nth-child(3){
        border-radius: 10px;
    background: rgb(205, 112, 50);
}

@media screen and (max-width:800px) {
    .table table{
        width: 100%;
    }
}

.button-class{
    display: flex;
    gap: 1em;
    justify-content: end;
}

footer{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: relative;
    bottom: 0;
    z-index: 99;
    background-color: white;
    width: 100%;
}

footer div button{
    padding: 0.5em 1em;
    background: none;
    border-width: 12x;
    border-radius: 10px;
}

footer div button:nth-child(1){
    background: #017AFE;
    color: white;
    border: none;
}

footer div button:last-child{
    border-color:#017AFE;
    color: #017AFE;
}
footer div button:nth-child(2),footer div button:nth-child(3),footer div button:nth-child(4){
    border: 2px solid rgba(128, 128, 128, 0.396);
    color: rgb(60, 60, 60); 

}

/* editing table details page */

.container{
    display: flex;
    justify-content: space-evenly;
    /* gap: 5em; */
    flex-wrap: wrap;
}

.container .cont{
    text-align: center;
    /* flex-grow: 0.5; */
    margin: 1.5em auto;
}

.card{
    width: auto;
    height: auto;
    padding: 1em;
    margin-top: 1.3em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.238);
}

.card table{
    padding: 1em;
    border-collapse: collapse;
}

.card table th, td{
    padding: 1em 2em;
}

.cont:nth-child(2){
    /* width: 70%; */
    flex-grow: 0.3;
    text-align: left;
}
.cont:nth-child(2) h2{
    text-align: center;
}
.cont:nth-child(2) .card{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.cont:nth-child(2) .cont{
    margin-top: 2em;
}

.cont:nth-child(2) .cont table, .cont:nth-child(2) th, .cont:nth-child(2) td{
    padding: 0.5em;
    margin-top: 1em;
    border: 1px solid  black;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5em;
}

/* EDITING SEARCH PAGE */

.search-container .card{
    width: 90%;
    margin-bottom: 5em;
    color: rgb(52, 52, 52);
}

.search-container .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgb(193, 190, 190);
    padding: 1em;
}

.search-container .top div:nth-child(1) div{
    display: flex;
    cursor: pointer;
    padding: 0.2em;
    align-items: center;
}
.search-container .top div:nth-child(1) div:hover{
    background: lightgray;
}
.search-container .badge{
    margin-left: 0.5em;
    background: rgba(128, 128, 128, 0.486);
    padding: 0.2em 0.6em;
    border-radius: 5px;
    color: darkblue;
}
.search-container .top > div{
    display: flex;
    gap: 1em;
}

.search-container .content li{
    list-style-type: none;
    display: flex;
    cursor: pointer;
    border-bottom:1.7px solid grey;
    padding: 0.5em;
    justify-content: space-between;
}

.search-container .content li:hover{
    background: rgba(199, 199, 199, 0.114);
}
.search-container .content li > div{
    display: flex;
    gap: 1em;
    align-items: center;
}
.search-container li p{
    margin-top: 0.2em;
}
.search-container .content img{
    width: 60px;
    background: rgb(224, 224, 224);
    padding: 0.5em;
}

.search-container .icons{
    display: flex;
    gap: 1em;
}
.search-container .icons i{
    cursor: pointer;
}
.search-container .icons i:nth-child(1){
    color: orange;
}
.search-container .icons i:nth-child(2){
    color: green;
}
.search-container .icons i:nth-child(3){
    color: red;
}